html {
    height: 100%;
}
.log > div {
  font-size: 1rem;
}

.application{
  width: 100%;
  height: 100%;
  color: #fff;
}

.calculator {
  width: 100%;
  position: absolute;
  bottom: 0;
}


.calculator .display input {
  width: 95%;
  font-size: 2rem;
  border: none;
  padding: 2.5%;
  background-color: #0f0f0f;
  color: #fff;
  text-align: right;
  outline: none;
}

.calculator  button {
  /* padding: 12px; */
  background-color: #2e2e2e;
}

.container {
  display: flex;
}

.calculator button {
  font-size: 2rem;
  background-color: #343434;
  border: 2px solid rgb(17, 17, 17);
  color: #FFF;
}

.num-pad .container button {
  flex: 1;
}

.num-pad {
  flex: 3;
}

button {
  /* margin: 0.2%; */
  outline: none;
}
button:active {
  opacity: 0.5;
}

.operators-right button {
  /* margin: 0.6%; */
  background-color: #b703a1;
}

.operators-top button {
  flex: 1;
  background-color: #b703a1;
  /* margin-top: 0.2%; */
  /* margin-right: 0.2%; */
  /* margin-bottom: 0.1%; */
  /* margin-right: 0.1%; */
}

.operators-top {
  display: flex;
}

.operators-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.operators-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.operators-right > button:nth-child(3) {
  flex: 2;
  background-color: #710157;
}

.num-pad-row-comma > button:nth-child(1) {
  flex: 2;
}

label {
  display: none;
}
